streamlit==1.48.1
numpy==2.2.6
pandas==2.3.1
torch==2.8.0
transformers==4.55.2
spacy==3.8.7
scikit-learn==1.7.1
textblob==0.19.0
textstat==0.7.8
wordfreq==3.1.1
joblib==1.5.1
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0.tar.gz

